# Ignore everything except R files and gitignore

# Ignore everything
*
# Except .gitignore
!.gitignore

# Except any directory
!*/

# Except R files
!*.R
!*.Rmd
.Rproj.user
.httr-oauth

# Except YAML
!*.yaml
